body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.flipbook-container {
    perspective: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#flipbook {
    width: 3000px;
    height: 3000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.page {
    position: absolute;
    width: 600%;
    height: 600%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    cursor: pointer;
}

.page img {
    max-width: 600%;
    max-height: 600%;
    object-fit: cover;
}

.page:nth-child(odd) {
    transform: rotateY(0deg) translateZ(1px);
}

.page:nth-child(even) {
    transform: rotateY(180deg) translateZ(1px);
}



